Hello,

<br><br>
The file to download is <strong>{{ data_file }}</strong>.
<br><br>
There are two options to access this data:

<ul>
    <li>
        Access via <a href="https://cosmo.vera.psc.edu/BlueTides/compressed_files/{{ data_folder }}/{{ data_file }}">HTTPS</a>
    </li>
    <li>
        You can access this data directly from your computer using a <a href="https://www.globus.org/globus-connect-personal">personal endpoint</a>.
        Access via <a href="https://app.globus.org/file-manager?origin_id=ab25ca84-b8ee-11eb-9d92-5f1f6f07872f&origin_path=%2Fhildafs%2Fdatasets%2Fpublic%2FBlueTides%2Fcompressed_files%2F{{ data_folder }}">Globus</a>
        NOTE: This option assumes that you have a valid Globus account.
        For more information on Globus, please visit their <a href="https://docs.globus.org/faq/">FAQ</a>
    </li>
</ul>

If you have any further questions, please reach out to support@psc.edu

Have a great day!