{% extends 'header.html' %}
{% block content %}
    <h2 class="mt-3">Simulations</h2>
    <p style="font-weight: bold;">Overview/Simulations</p>

    <table class="table">
        <thead>
            <tr>
                <th>Simulation Name</th>
                <th>Lbox[Mpc/h]</th>
                <th>NDM</th>
                <th>Ngas</th>
                <th>mDM [M⊙]</th>
                <th>mgas [M⊙]</th>
                <th>Nsnap</th>
                <th>Snaps</th>
                <th>FoF</th>
                <th>Start redshift</th>
                <th>End redshift</th>
            </tr>
        </thead>
        <tbody>
            {% for simulation in simulations %}
                <tr>
                    <td><a class="alink text-primary"
                           href="{% url "simulation" pk=simulation.id %}">{{ simulation.name }}</a></td>
                    <td>{{ simulation.side_length_of_simulation_box }}</td>
                    <td>{{ simulation.number_of_dark_matter_particles }}</td>
                    <td>{{ simulation.number_of_gas_particles}}</td>
                    <td>{{ simulation.dark_matter_particle_mass }}</td>
                    <td>{{ simulation.gas_matter_particle_mass }}</td>
                    <td>134</td>
                    <td>Y</td>
                    <td>Y</td>
                    <td>z={{ simulation.start_redshift }}</td>
                    <td>z={{ simulation.end_redshift }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}